<html>
<link rel="stylesheet" href="quiz.component.css">
<body>
<div class="bg"><div class="row">
  <div class="col-6">
    <h3>Lets Test your Knowledge</h3>
  </div>
  <div class="col-6 text-right">
    <b>Select Quiz:  </b>
    <select [(ngModel)]="quizName" (change)="loadQuiz(quizName)">
      <option *ngFor="let quiz of quizes" [value]="quiz.id">{{quiz.name}}</option>
    </select>
  </div>
</div>
<div id="quiz">
  <h2 class="display-4 text-center">{{quiz.name}}</h2>
 

  <div *ngIf="mode=='quiz' && quiz">
    <div *ngFor="let question of filteredQuestions;">
      <div class="badge badge-dark">Question {{pager.index + 1}} of {{pager.count}}.</div>
      <div *ngIf="config.duration" class="badge badge-dark float-right">Time: {{ellapsedTime}} / {{duration}}</div>
      <h3 class="font-weight-normal">{{pager.index + 1}}.
        <span [innerHTML]="question.name"></span>
      </h3>
      <div class="content-left options">
        <div class="col-6" *ngFor="let option of question.options">
          <div class="option">
            <label class="font-weight-normal" [attr.for]="option.id">
              <input id="{{option.id}}" type="checkbox" [(ngModel)]="option.selected" (change)="onSelect(question, option);" /> {{option.name}}
            </label>
          </div>
        </div>
      </div>
    </div>
    
    <div class="text-center">
      <button class="btn btn-secondary" *ngIf="config.allowBack" (click)="goTo(pager.index - 1);"><<</button>
      <button class="btn btn-secondary" (click)="goTo(pager.index + 1);">>></button>
      <!--<pagination *ngIf="config.showPager" direction-links="false" total-items="totalItems" items-per-page="itemsPerPage" ng-model="currentPage" ng-change="pageChanged()"></pagination>-->
    </div>
  </div>

  <div class="row text-center" *ngIf="mode=='review'">
    <div class="col-4 cursor-pointer" *ngFor="let question of quiz.questions; let index = index;">
      <div (click)="goTo(index)" class="p-3 mb-2 {{ isAnswered(question) == 'Answered'? 'bg-dark': 'bg-warning' }}">{{index + 1}}. {{ isAnswered(question) }}</div>
    </div>
  </div>
  <div class="result" *ngIf="mode=='result'">
    <h2>Result</h2>
    <div *ngFor="let question of quiz.questions; let index = index">
      <div class="result-question">
        <h5>{{index + 1}}. {{question.name}}</h5>
        <div class="row">
          <div class="col-6" *ngFor="let Option of question.options">
            <input id="{{Option.id}}" type="checkbox" disabled="disabled" [(ngModel)]="Option.selected" /> {{Option.name}}
          </div>
        </div>
        <div class="p-1 m-2 alert {{ isCorrect(question) == 'correct'? 'alert-success': 'alert-danger'}}">Your answer is {{isCorrect(question)}}.</div>
      </div>
    </div>
    <h6 class="alert alert-dark text-center">You may close this window now.<a href="/quiz" class="alert-link">Quiz</a></h6>
  </div>
  <hr>
  <div  *ngIf="mode!='result'">
    <button class="col-6  btn btn-dark" (click)="mode = 'review'">Review</button>
    <button class="col-6  btn btn-success" (click)="onSubmit();">Submit Quiz</button>
  </div>
</div>
</div>
</body>
</html>